<!DOCTYPE html>
<html>
<head>
    <title>Tony burger</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>