<!DOCTYE html>
    <html>
    <head>
        <title>Welcome to Tony Burger</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("Scripts", required: false)
    </body>
</html>
